/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: var(--primary-300);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nanum Myeongjo', serif;
    overflow-x: hidden;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility; 
}

html, body {
    background-color: var(--neutral-800);
    color: var(--primary-100);
}

/* Root Colors */
:root {
    --primary-100: #f5eee0;
    --primary-200: #DED2B6;
    --primary-300: #B0AA9D;
    --neutral-100: #000000b4;
    --neutral-200: #5E594D; 
    --neutral-800: #000000;
}

/* Loader */
.loader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/wood.jpg");
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--neutral-100);
    opacity: 1;
}
.loader-span {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: var(--primary-100);
    opacity: 0.6;
    z-index: 101;
}
.loader-span:before,
.loader-span:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}
.loader-span:after {
    color: var(--primary-100);
    opacity: 0.3;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
      box-shadow: .35em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .35em .35em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .35em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.35em .35em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.35em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.35em -.35em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.35em 0 0 currentcolor;
    }
    87% {
      box-shadow: .35em -.35em 0 0 currentcolor;
    }
}

/* Nav Bar */
nav.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    background: url("../images/wood.jpg");
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 6px 4px 12px 12px var(--neutral-100);
    z-index: 99;
    border-bottom: 1px solid var(--primary-100);
}

nav.navbar::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--neutral-100);
    z-index: 1;
}

nav.navbar > * {
    z-index: 2;
}

nav .title-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    gap: 10px;
    margin-left: 10px;
    color: var(--primary-100); 
    font-size: 1.5em;
    font-weight: 400;
    cursor: pointer;
}

nav .title-logo img {
    height: 70px;
}

nav .nav-links {
    width: 500px;
}

nav .nav-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}

nav .nav-links ul li {
    list-style: none;
}

nav .nav-links ul li a {
    color: var(--primary-100);
    text-decoration: none;
    position: relative;
    font-size: 1.2em;
    cursor: pointer;
}

nav .nav-links ul li a::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--primary-100);
    transform: scale(0);
    transition: transform 0.2s ease-out;
}

nav .nav-links ul li a:hover::after {
    content: '';
    transform: scale(1);
}

@media screen and (max-width: 990px) {
    nav {
        height: 70px;
    }

    nav .title-logo {
        margin-left: 5px;
        font-size: 1em;
    }

    nav .title-logo img {
        height: 50px;
    }

    nav .nav-links {
        width: 400px;
    }

    nav .nav-links ul {
        margin-right: 10px;
    }

    nav .nav-links ul li a {
        font-size: 1em;
    }
}

/* Terms of Use & Privacy Policy */
.terms-privacy {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 25px;
    line-height: 125%;
}

.terms-privacy .splash {
    position: absolute;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: url("../images/wood.jpg");
    z-index: 1;
    transition: all 1s ease-in;
}

.terms-privacy::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--neutral-800);
    z-index: -1;
}

.terms-privacy::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--neutral-100);
    z-index: 1;
    pointer-events: none;
}

.terms-privacy .content {
    z-index: 2;
    height: 100%;
    margin-top: 90px;
    color: var(--primary-100);
    font-size: 14px;
    padding-left: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.terms-privacy p {
    font-weight: 400;
}

.terms-privacy p::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--neutral-100);
    z-index: 2;
    opacity: 0.02;
    pointer-events: none;
}

.terms-privacy h3 {
    font-weight: 600;
    font-size: 16px;
    color:var(--primary-100);
    z-index: 99;
    margin-bottom: 5px;
    text-shadow: 3px 3px 6px var(--primary-200);
}
.terms-privacy a {
    color:var(--primary-300);
    text-decoration: underline;
}
.terms-privacy h1 {
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--primary-100);
    z-index: 99;
    text-shadow: 2px 3px 6px var(--primary-200);
}
.terms-privacy ol, .terms-privacy ul {
    margin-left: 50px;
}

/* Footer */
footer {
    width: 100%;    
    z-index: 99;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease-out;
}

.scroll {
    width: 100%;
    height: 250px;
    background: var(--primary-100);
    background-image: linear-gradient(to bottom, var(--primary-300), var(--neutral-100));
    box-shadow: 0px 6px 9px 3px var(--neutral-100) inset; 
    color: var(--neutral-800);
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.scroll::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--neutral-800);
    opacity: 1;
    transition: opacity 0.5s ease-out;
    pointer-events: none;
}

.scroll h1 {
    font-family: 'Nanum Myeongjo', serif;
    color: var(--neutral-100);
    font-size: 15px;
    font-style: italic;
}

.scroll .title {
    font-size: 25px;
    margin-top: -45px;
}

.scroll .subtitle {
    font-size: 15px;
    text-align: center;
    width: 40%;
    margin-top: -10px;
    color: var(--neutral-100);
}

.scroll .socials {
    width: 40%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
    width: 75px;
    margin-top: -5px;
}

.scroll .socials i {
    font-size: 27px;
    color: var(--neutral-100);
    opacity: 1;
    transition: color 0.3s ease-out;
}

.scroll .socials i:hover {
    color: var(--primary-100);
    opacity: 0.8;
}

.scroll nav {
    width: 100%;
    height: 20px;
    margin-top: -10px;
    background: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
} 

.scroll nav ul {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;    
}

.scroll nav ul li {
    list-style: none;
}

.scroll nav ul li a {
    text-decoration: none;
    color: var(--neutral-100);
    position: relative;
    cursor: pointer;
}

.scroll nav ul li a:hover {
    color: var(--primary-100);
}

.scroll nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--primary-100);
    opacity: 0.8;
    transform: scale(0);
    transition: transform 0.2s ease-out;
}

.scroll nav ul li a:hover::after {
    content: '';
    transform: scale(1);
}

.copyright {
    width: 100%;
    position: absolute;
}

.scroll #footer-copyright-2 {
    font-family: 'Nanum Myeongjo', serif;
    color: var(--neutral-100);
    font-size: 15px;
    font-style: italic;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: -125px;
    margin: 0;
    text-align: center;
    color: var(--primary-100);
    opacity: 0.6;
    z-index: 1;
}

.scroll #footer-copyright-2::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--neutral-800);
    opacity: 0.2;
    z-index: -1;
}