{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robot" content="index, follow" />
    <meta name="description" content="Web Development and Prototyping Business" />
    <meta name="keywords" content="buisness, problem solving, innovation, design, developer, solutions, freelance, solid, quality" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">

    <link async href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Outward Industries</title>
</head>
<body>
    <!-- Nav Bar -->
    <nav class="navbar" id="navbar">
        <div class="title-logo" onclick="goHome()">
            <img src="{% static 'images/logo.png' %}" alt="Outward Industries">
            <h1>Outward Industries</h1>
        </div>
        <div class="nav-links">
            <ul>
                <li><a onclick="goHome()">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    <div class="landing" id="landing">
        <div class="splash" id="splash"></div>
        <h1 id="title">Outward Industries</h1>
        <div class="content" id="content">
            <p>Web Development and Prototyping</p>
            <button id="button" onclick="fadeZoom()">Get Started</button>
        </div>
    </div>
    <div class="start" id="start">
        <div class="splash" id="splash"></div>
        <h1 id="missionTitle">Products</h1>
        <div class="content" id="content">
            <div class="row mission-statement">
                <div class="column-50">
                    <p>Here at Outward Industries, we are devoted to delivering only the highest quality products to our clients.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ad deleniti, minima ea nisi repudiandae hic dignissimos, nihil sit assumenda porro placeat iste mollitia aspernatur exercitationem, doloremque incidunt officiis. Voluptatum deleniti blanditiis nemo, modi, quas fuga debitis officiis harum eligendi officia ea odit aperiam quo assumenda voluptatibus esse laudantium pariatur.</p>
                </div>
                <div class="column-50">
                    <img src="{% static 'images/outward.png' %}" alt="Outward Industries">
                </div>
            </div>
        </div>
    </div>
    <footer class="show" id="footer-show">
        <h1 id="footer-copyright">Copyright &copy | Outward Industries</h1>
    </footer>
    <footer  class="scroll" id="footer-scroll">
        <h1 class="title">Outward Industries</h1>
        <p class="subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse alias molestiae iusto deleniti accusantium eos illum quos quod, eum, maiores similique? Autem, expedita possimus quae odit nihil iusto repudiandae recusandae sit laudantium dolor molestiae, voluptate cupiditate, ut veniam?</p>
        <div class="socials">
            <a href="https://instagram.com/outwardindustries" target="_blank">
                <i class="fab fa-instagram footer-icon"></i>
            </a>
            <a href="mailto: info@outwardindustries.com">
                <i class="far fa-envelope footer-icon"></i>
            </a>
            <a href="https://github.com/TeganHakim/Outward-Industries" target="_blank">
                <i class="fab fa-github footer-icon"></i>
            </a>
        </div>
        <nav>
            <ul>
                <li><a onclick="goHome()">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="/terms-of-use/">Terms of Use</a></li>
                <li><a href="/privacy-policy/">Privacy Policy</a></li>
            </ul>
        </nav>
        <h2 id="footer-copyright-2">Copyright &copy | Outward Industries</h2>
    </footer>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>