{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robot" content="index, follow" />
    <meta name="description" content="Web Development and Prototyping Business" />
    <meta name="keywords" content="buisness, problem solving, innovation, design, developer, solutions, freelance, solid, quality" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Outward Industries</title>
</head>
<body>
    <!-- Nav Bar -->
    <nav class="navbar cove" id="navbar">
        <div class="title-logo" onclick="goHome()">
            <img src="{% static 'images/Outward_Industries_Logo.png' %}" alt="Outward Industries">
            <h1>Outward Industries</h1>
        </div>
        <div class="nav-links">
            <ul>
                <li><a onclick="fadeZoom('about')">About</a></li>
                <li><a onclick="fadeZoom('products')">Products</a></li>
                <li><a onclick="fadeZoom('pricing')">Pricing</a></li>
                <li><a onclick="fadeZoom('portfolio')">Portfolio</a></li>
                <li><a onclick="fadeZoom('contact')">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <div class="mobile-nav">
        <ul>
            <li><a onclick="fadeZoom('about')">About</a></li>
            <li><a onclick="fadeZoom('products')">Products</a></li>
            <li><a onclick="fadeZoom('pricing')">Pricing</a></li>
            <li><a onclick="fadeZoom('portfolio')">Portfolio</a></li>
            <li><a onclick="fadeZoom('contact')">Contact Us</a></li>
        </ul>
    </div>
    <div class="landing" id="landing">
        <div class="splash" id="splash"></div>
        <h1 id="title">Outward Industries</h1>
        <div class="content" id="content">
            <p>Web Development and Prototyping</p>
            <button id="button" onclick="fadeZoom('products')">Get Started</button>
        </div>
    </div>
    <div class="about" id="about">
        <div class="splash" id="splash"></div>
        <h1 id="aboutTitle">About</h1>
        <div class="content" id="content">
            <div class="row about-info">
                <div class="column-3">
                    <h1>Websites</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto eius ex accusantium dolore minima. Error, ipsam! Excepturi distinctio facilis aperiam sequi, impedit vitae aliquid tempore itaque accusamus, dolorem in quod.</p>
                </div>
                <div class="column-3">
                    <h1>Applications</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ipsam impedit in, enim praesentium voluptatibus repellendus saepe, maxime placeat consectetur ut! Nisi repudiandae dolore reprehenderit fugiat tempora, minus iusto officia?</p>
                </div>
                <div class="column-3">
                    <h1>Services</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis facilis impedit magni facere consequatur porro magnam, minus earum beatae, optio aliquam. Ipsam voluptatem itaque sit nihil sequi quod assumenda ducimus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="products" id="products">
        <div class="splash" id="splash"></div>
        <h1 id="productTitle">Products</h1>
        <div class="content" id="content">
            <div class="row product-info">
                <div class="column-3">
                    <h1>Websites</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto eius ex accusantium dolore minima. Error, ipsam! Excepturi distinctio facilis aperiam sequi, impedit vitae aliquid tempore itaque accusamus, dolorem in quod.</p>
                </div>
                <div class="column-3">
                    <h1>Applications</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ipsam impedit in, enim praesentium voluptatibus repellendus saepe, maxime placeat consectetur ut! Nisi repudiandae dolore reprehenderit fugiat tempora, minus iusto officia?</p>
                </div>
                <div class="column-3">
                    <h1>Services</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis facilis impedit magni facere consequatur porro magnam, minus earum beatae, optio aliquam. Ipsam voluptatem itaque sit nihil sequi quod assumenda ducimus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="pricing" id="pricing">
        <div class="splash" id="splash"></div>
        <h1 id="priceTitle">Pricing</h1>
        <div class="content" id="content">
            <div class="row price-info">
                <div class="column-3">
                    <h1>Websites</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto eius ex accusantium dolore minima. Error, ipsam! Excepturi distinctio facilis aperiam sequi, impedit vitae aliquid tempore itaque accusamus, dolorem in quod.</p>
                </div>
                <div class="column-3">
                    <h1>Applications</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ipsam impedit in, enim praesentium voluptatibus repellendus saepe, maxime placeat consectetur ut! Nisi repudiandae dolore reprehenderit fugiat tempora, minus iusto officia?</p>
                </div>
                <div class="column-3">
                    <h1>Services</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis facilis impedit magni facere consequatur porro magnam, minus earum beatae, optio aliquam. Ipsam voluptatem itaque sit nihil sequi quod assumenda ducimus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio" id="portfolio">
        <div class="splash" id="splash"></div>
        <h1 id="portfolioTitle">Portfolio</h1>
        <div class="content" id="content">
            <div class="row portfolio-info">
                <div class="column-3">
                    <h1>Websites</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto eius ex accusantium dolore minima. Error, ipsam! Excepturi distinctio facilis aperiam sequi, impedit vitae aliquid tempore itaque accusamus, dolorem in quod.</p>
                </div>
                <div class="column-3">
                    <h1>Applications</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ipsam impedit in, enim praesentium voluptatibus repellendus saepe, maxime placeat consectetur ut! Nisi repudiandae dolore reprehenderit fugiat tempora, minus iusto officia?</p>
                </div>
                <div class="column-3">
                    <h1>Services</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis facilis impedit magni facere consequatur porro magnam, minus earum beatae, optio aliquam. Ipsam voluptatem itaque sit nihil sequi quod assumenda ducimus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contact" id="contact">
        <div class="splash" id="splash"></div>
        <h1 id="contactTitle">Contact Us</h1>
        <div class="content" id="content">
            <form action="">
                <div class="row">
                    <input class="f-name" required type="text" placeholder="First Name">
                    <input class="l-name" required type="text" placeholder="Last Name">
                </div>
                <div class="row">
                    <input class="email" required type="email" placeholder="Email">
                </div>
                <div class="row">
                    <textarea class="message" name="message" cols="30" rows="10" placeholder="Enter Message"></textarea>
                </div>
            </form>
            <div class="socials">
                <a href="https://instagram.com/outwardindustries" target="_blank">
                    <i class="fab fa-instagram footer-icon"></i>
                </a>
                <a href="mailto: info@outwardindustries.com">
                    <i class="far fa-envelope footer-icon"></i>
                </a>
                <a href="https://github.com/TeganHakim/Outward-Industries" target="_blank">
                    <i class="fab fa-github footer-icon"></i>
                </a>
            </div>
        </div>
    </div>
    <footer class="show" id="footer-show">
        <h1 id="footer-copyright">Copyright &copy | Outward Industries</h1>
    </footer>
    <footer  class="scroll" id="footer-scroll">
        <h1 class="title">Outward Industries</h1>
        <p class="subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse alias molestiae iusto deleniti accusantium eos illum quos quod, eum, maiores similique? Autem, expedita possimus quae odit nihil iusto repudiandae recusandae sit laudantium dolor molestiae, voluptate cupiditate, ut veniam?</p>
        <div class="socials">
            <a href="https://instagram.com/outwardindustries" target="_blank">
                <i class="fab fa-instagram footer-icon"></i>
            </a>
            <a href="mailto: info@outwardindustries.com">
                <i class="far fa-envelope footer-icon"></i>
            </a>
            <a href="https://github.com/TeganHakim/Outward-Industries" target="_blank">
                <i class="fab fa-github footer-icon"></i>
            </a>
        </div>
        <nav>
            <ul>
                <li><a onclick="goHome()">Home</a></li>
                <li><a onclick="fadeZoom('about')">About</a></li>
                <li><a onclick="fadeZoom('products')">Products</a></li>
                <li><a onclick="fadeZoom('pricing')">Pricing</a></li>
                <li><a onclick="fadeZoom('portfolio')">Portfolio</a></li>
                <li><a onclick="fadeZoom('contact')">Contact Us</a></li>
                <li><a href="/terms-of-use/">Terms of Use</a></li>
                <li><a href="/privacy-policy/">Privacy Policy</a></li>
            </ul>
        </nav>
        <h2 id="footer-copyright-2">Copyright &copy | Outward Industries</h2>
    </footer>
    <!-- Loader -->
    <div class="loader">
        <span class="loader-span">
            <img src="{% static 'images/Outward_Industries_Logo.png' %}" alt="Outward Industries">
        </span>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>